In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url="https://www.iplt20.com/auction"
r= requests.get(url)
print(r)

<Response [200]>

In [3]:
soup=BeautifulSoup(r.text,"lxml")

In [4]:
table=soup.find("table",class_="ih-td-tab auction-tbl")
header=table.find_all("th")
print(header)

[<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]

In [5]:
titles=[]
for i in header:
    title=i.text
    titles.append(title)
print(titles)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [6]:
df=pd.DataFrame(columns=titles)
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [7]:
rows=table.find_all("tr")
for i in rows[1:]:
    first=i.find_all("td")[0].find("div",class_="ih-pt-ic").text.strip()
    data=i.find_all("td")[1:]
    row=[tr.text for tr in data]
    row.insert(0,first)
    l=len(df)
    df.loc[l]=row
print(df)
df.to_csv("Ipl_auction_status_2024.csv")

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,00,00,000                 8            25
1               Delhi Capitals    ₹9,90,00,000                 8            25
2               Gujarat Titans    ₹7,85,00,000                 8            25
3        Kolkata Knight Riders    ₹1,35,00,000                 8            23
4         Lucknow Super Giants      ₹95,00,000                 8            25
5               Mumbai Indians    ₹1,05,00,000                 8            25
6                 Punjab Kings    ₹4,15,00,000                 8            25
7             Rajasthan Royals      ₹20,00,000                 8            22
8  Royal Challengers Bengaluru    ₹2,85,00,000                 8            25
9          Sunrisers Hyderabad    ₹3,20,00,000                 8            25